.titleH{
    background-color:#1b262c;
    display: inline;
    padding-left:90px;
    padding-right:20px;
    font-family:"Helvetica";
    color: #e3ecf2;
    font-size: 3em;
    width: 90%;
}
.title{
    display: inline;
    max-width:90%;
    padding-left:10px;
    padding-right:70%;
    font-family:"Helvetica";
    color: #1b262c;
    font-size: 3em;
}
.registration-header {
    color: #1b262c;
    font-size: 20px;
}
.container1 {
    width: 100vw;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    position: relative;
    top: 550px;
}
.a1{
    padding-left: 400px;
}
ul li{
    display: inline;
}
.together{
    display: inline;
}
.form-group{
    max-height:110%;
    padding-top:40px;
    padding-bottom:0px;
    margin: auto;
}
.BTHP{
    border-bottom: 1px solid #141E30;
    color: rgba(255, 255, 255, 0.5);
    padding-left:10px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
    width: 100%;
}
.form-control{
    margin: auto;
    padding-top:10px;
    padding-bottom:10px;
}
.buttonS {
    max-width:100%;
    padding-top:10px;
    padding-bottom:10px;
}
.googleB{
    padding-top:0px;
    padding-bottom:10px;
    color:black;
}
.text-center{

}
.text-down{
    padding-left:10px;
    padding-top:28px;
    color: #dde5ed
}
body {
    background: #eef8ff;
    left: 150px;
    top: 50px;
}