<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Home page</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <base href="/registration"/>
    <title>iONKiD | Sign in</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/login.css" />
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
    <script type="text/javascript" src='/static/js/xsrf.token.js'></script>
</head>
<body>
<div class="mt-3">
<h1 class="titleH">SIGN </h1>
<h1 class="title"> IN</h1>
</div>
<div class="BTHP">
    <button type="button" class="btn btn-outline-dark mb-2" onclick="window.location.href='/'">BACK TO HOME PAGE</button>
</div>

<div class="text-center">
<form action="login" method="post">
    <div class="form-group">
        <label><span class="registration-header"><b>EMAIL</b></span><input type="email" class="form-control" id="email" name="username" placeholder="Enter email..."/> </label>
    </div>
    <div class="form-group">
        <label><span class="registration-header"><b>PASSWORD</b></span><input type="password" class="form-control" id="pwd" name="password" placeholder="Enter password..."/> </label>
    </div>
    <div class="buttonS text-center">
        <button type="submit" class="btn btn-dark btn-lg" value="Sign In" >SIGN IN</button>
    </div>
    <div class="googleB text-center">
        <button type="button" class="btn btn btn-danger" onclick="window.location.href='/oauth2/authorization/google'">CONTINUE WITH GOOGLE <i class="fa fa-google"></i></button>
    </div>
<a href="/registration"><p class="text-center">I do not have an account. Sign me up!</p></a>
<a href="#"><p class="text-center">I do not remember my password.</p></a>
</form>
</div>

<div class="container1 p-3 my-3 bg-dark text-white container-fluid">
    <ul class="breadcrumb together" style="background-color: #353a40">
        <li class="breadcrumb-item"> <a href="#"><b style="color:white">ABOUT US</b></a></li>
        <li class="breadcrumb-item"> <a href="#"><b style="color:white">BLOGS</b></a></li>
        <li class="breadcrumb-item"> <a href="#"><b style="color:white">AFFILIATE PROGRAMS</b></a></li>
        <li class="breadcrumb-item"> <a href="#"><b style="color:white">SUPPORT</b></a></li>
    </ul>
    <ul class="together">
        <li class="breadcrumb-item"><a class="a1" href="#"><b style="color:white">TERMS OF USE </b></a></li>
        <li class="breadcrumb-item"><a href="#"><b style="color:white">PRIVACY POLICY </b></a></li>
    </ul>
    <p class="text-down">Copyright © 2019-2020 | Prometheus, Lviv IoT. All rights reserved </p>
</div>
</body>
</html>