<!DOCTYPE HTML>
<!--так виглядає сторінка localhost:8080/programs-->
<html>
<head>
    <title>Programs and tasks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $.ajaxSetup({
            beforeSend : function(xhr, settings) {
                if (settings.type == 'POST' || settings.type == 'PUT'
                        || settings.type == 'DELETE') {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/
                            .test(settings.url))) {
                        xhr.setRequestHeader("X-XSRF-TOKEN", Cookies.get('XSRF-TOKEN'));
                    }
                }
            }
        });
        $.get("/user", function(data) {
            $("#user").html(data.name);
            $(".unauthenticated").hide();
            $(".authenticated").show();
        });
        var logout = function() {
            $.post("/logout", function() {
                $("#user").html('');
                $(".unauthenticated").show();
                $(".authenticated").hide();
                window.location = '/';
            });
            return true;
        };
        var goToHome = function() {
            window.location = '/';
        };
    </script>
</head>

<!--все, що виводиться на сторінці-->
<body>
<div>
    <button onclick="goToHome()" class="btn btn-info">IONKiD</button>   <a href="/userslist">USERS</a><br><br>
    <button onClick="logout()" class="btn btn-primary">Logout</button>

    <br><b>Programs List</b><br>
    {{#programs}}
        <div>
            <b>ID: {{id}}  </b>
            <p>TYPE: {{description}}  </p>
            <p>PROGRESS: {{progress}}%  </p>
            <p>startdate: {{startDate}}  </p>
            <p>enddate: {{endDate}}  </p>
            <p>TASKS:
            {{#tasks}}
            <p><b>   ID: {{id}}  </b></p>
            <p>   STATUS: {{status}}  </p>
            <p>   DESCRIPTION: {{description}}  </p>
            {{/tasks}} {{^tasks}} NA {{/tasks}}  </p><br>
    {{/programs}} {{^programs}} NA {{/programs}}
        </div>
    <br>
</div>
</body>
</html>