<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Home page</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
  <script type='text/javascript' src='js/jquery.ba-hashchange.min.js'></script>
  <script type='text/javascript' src='../static/js/dynamicpage.js'></script>
    <base href="/registration"/>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
    <script type="text/javascript" src="../static/js/dynamicpage.js" ></script>
    <script type="text/javascript">
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (settings.type == 'POST' || settings.type == 'PUT' || settings.type == 'DELETE') {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/
                            .test(settings.url))) {
                        xhr.setRequestHeader("X-XSRF-TOKEN", Cookies.get('XSRF-TOKEN'));
                    }
                }
            }
        });
    </script>
</head>
<body>
    <style>
        body {
  /* Old browsers */
  background: #eef8ff;
  /* Chrome 10-25, Safari 5.1-6 */
  background: #eef8ff;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #eef8ff;
  left: 150px;
  top: 50px;
  }
  .titleH{
  background-color:black;
  display: inline;
  padding-left:90px;
  padding-right:20px;
  font-family:"Helvetica";
  color: #e3ecf2;
  font-size: 3em;
  width: 90%;
  }
  .title{
  display: inline;
  max-width:90%;
  padding-left:10px;
  padding-right:70%;
  font-family:"Helvetica";
  color: #1b262c;
  font-size: 3em;
  }
  
  .container1 {
  width: 100vw;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  position: relative;
        top: 550px;
}
 .form-group{
   max-width: 300px;
   padding-left:0px;
   padding-right:60px;
   padding-top:10px;
   padding-bottom:0px;
 
 }
 .BTHP{
        border-bottom: 1px solid #141E30;
        color: rgba(255, 255, 255, 0.5);
        padding-left:10px;
        padding-right:30px;
        padding-top:10px;
        padding-bottom:10px;
        width: 100%;
 }
 .form-control{
   padding-left:14px;
   padding-right:30px;
   padding-top: 10px;
   padding-bottom:11px;
   width:25vw;
   
 }
 
 .a1{
    padding-left: 400px;
}
ul li{
  display: inline;
}
.together{
  display: inline;  
}
.text-down{
   padding-left:10px;
   padding-top:28px;
   color: #dde5ed
 }
 .group1{
    padding-left:0%;
 }
.photo{
   padding-left:3%;
   padding-right: 30px;
   padding-top: 10px;
   padding-bottom:11px;
   width:25vw;
}
.title2{
    text-align:center;    
}
 }
 
    </style>
<!--<div class="container">
    Add new doctor
    <br>
    {{#message}}
        {{message}}
    {{/message}}-->
 <h1 class="titleH">SIGN </h1>
 <h1 class="title">UP</h1>
 <div class="BTHP">
 <button type="button" class="btn btn-outline-dark" onclick="window.location.href='/'">BACK TO HOME PAGE </button>
 </div>
<section class="w3-container w3-center w3-content" style="max-width:600px">
    <h3 class="title2">CREATE A NEW DOCTOR`S ACCOUNT</h3>
    <form action="registration" method="post">
<form action="/action_page.php">
    <div class="photo">
  <label for="files">PHOTO</label>
  <input type="file" id="files" name="files" multiple><br><br>
  <input type="button" class="btn btn-outline-dark" value="UPLOAD A NEW PHOTO">
  </div>
</form>
        <div class="form-group mx-sm-3 mb-2" style="text-align:center;>
        <label for="name">NAME</label>
        <label><input type="text" class="form-control" name="firstName" required placeholder="Enter your first name..."/></label>
        <label><input type="text" class="form-control" name="lastName" required placeholder="Enter your last name..."/></label><br>
        </div>
        <div class="form-group mx-sm-3 mb-2" style="text-align:center;>
        <label for="date">DATE OF BIRTHDAY</label>
        <label> <input type="date" class="form-control" name="dateOfBirth" required
               placeholder="Choose your date of birth..."/></label><br><br>
        </div>
        <div class= "gender" style="text-align:center;">
        <label for="gender">GENDER</label><br>
        <label><input type="radio"  name="gender" value="Male">Male
        <input type="radio"  name="gender" value="Female">Female
        <input type="radio" name="gender" value="Non-binary" checked>Non-binary</label><br><br>
        </div>
        <div class="form-group mx-sm-3 mb-2" style="text-align:center;>
        <label for="text">COUNTRY</label>
        <label><input type="text" class="form-control" name="country" required placeholder="Enter your country..."/></label><br>
        <label for="text">CITY</label>
        <label><input type="text" class="form-control" name="city" required placeholder="Enter your city..."/></label><br>
        </div>
        <div class="form-group mx-sm-3 mb-2" style="text-align:center;>
      <label for="email">EMAIL</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email..." name="email">
      <label for="pwd">PASSWORD</label>
      <input type="password" class="form-control" id="pwd" placeholder="At least 8 characters" name="pswd">
      <label for="pwd">CONFIRM PASSWORD</label>
      <input type="password" class="form-control" id="pwd" placeholder="At least 8 characters" name="pswd">
       <label for="phone">PHONE NUMBER</label><br>
       <input type="tel" class="form-control" id="phone" name="phone" placeholder="+38(0XX) - XXX-XX-XX"
              pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" required><br>
     <div class="group1">
        <label for="name">SPECIALTY</label>
        <label><input type="text" class="form-control" name="specialty" required placeholder="Choose your specialty..."/></label>
        <label for="name">CERTIFICATION ID</label>
        <label><input type="text" class="form-control" name="certifi-id" required placeholder="Enter the id of your certificate..."/></label>
        <label for="name">THE ORGANIZATION YOU BELONG TO </label>
        <label><input type="text" class="form-control" name="organization" required placeholder="Enter the orgatization name..."/></label>
        <label><input type="radio" name="check" value="text">I am a private therapist</label>
        </div>
    </div>
     </section>
    </form>
    <div class="container1 p-3 my-3 bg-dark text-white container-fluid">
        <ul class="breadcrumb together" style="background-color: #353a40">
    <li class="breadcrumb-item"> <a href="#"><b style="color:white">ABOUT US</b></a></li>
    <li class="breadcrumb-item"> <a href="#"><b style="color:white">BLOGS</b></a></li>
    <li class="breadcrumb-item"> <a href="#"><b style="color:white">AFFILIATE PROGRAMS</b></a></li> 
    <li class="breadcrumb-item"> <a href="#"><b style="color:white">SUPPORT</b></a></li>
    </ul>
    <ul class ="together">
    <li class="breadcrumb-item"><a class="a1" href="#"><b style="color:white">TERMS OF USE </b></a></li>
    <li class="breadcrumb-item"><a href="#"><b style="color:white">PRIVACY POLICY </b></a></li>
    </ul>
    <p class="text-down">Copyright © 2019-2020 | Prometheus, Lviv IoT. All rights reserved </p>
    </div>
</div>
</body>
</html>