<html>
<head>
    <title>User list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='/static/js/xsrf.token.js'></script>
    <script type="text/javascript" src='/static/js/logout.js'></script>
</head>

<body>
<div>
    <button onclick="window.location.href='/'" class="btn btn-info">IONKiD</button>   <a href="/programslist">PROGRAMS</a><br><br>
    <button onClick="logout()" class="btn btn-primary">Logout</button>
    <br>
    <b>Users List</b><br>
    {{#users}}
        <div>
        {{#avatarUrl}}<img src="{{avatarUrl}}" alt="avatar">{{/avatarUrl}} {{^avatarUrl}} NO AVATAR {{/avatarUrl}}<br>
            <b>ID: {{id}}</b>
            <p>Name:{{#firstName}} {{firstName}} {{/firstName}} {{^firstName}} NA {{/firstName}} {{#lastName}} {{lastName}} {{/lastName}} {{^lastName}} NA {{/lastName}}</p>
            <p>EMAIL:{{#email}} {{email}} {{/email}}     {{^email}} NA {{/email}}</p>
            <p>ROLES: {{roles}}</p>
            <p>LAST VISIT: {{#lastVisit}} {{lastVisit}} {{/lastVisit}}     {{^lastVisit}} NA {{/lastVisit}}</p>

        </div>
    {{/users}}
    <br>

</div>
</body>

</html>