<html>
<head>
    <title>User list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        .spoiler {
            border: 1px solid #e0e0e0;
            padding: 0 1em;
        }
        .spoiler details {
            padding: 1em 0;
        }
        .spoiler details + details {
            border-top: 1px solid #e0e0e0;
        }
        .spoiler summary {
            color: #4d5895;
        }
        .spoiler details div {
            overflow: hidden;
            padding: 1em 1em 0;
        }
        .spoiler details[open] div {
            animation: spoiler 1s;
        }
        @keyframes spoiler {
            0%   {max-height: 0;}
            100% {max-height: 10em;}
        }
    </style>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $.ajaxSetup({
            beforeSend : function(xhr, settings) {
                if (settings.type == 'POST' || settings.type == 'PUT'
                        || settings.type == 'DELETE') {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/
                            .test(settings.url))) {
                        xhr.setRequestHeader("X-XSRF-TOKEN", Cookies.get('XSRF-TOKEN'));
                    }
                }
            }
        });
        $.get("/user", function(data) {
            $("#user").html(data.name);
            $(".unauthenticated").hide();
            $(".authenticated").show();
        });
        var logout = function() {
            $.post("/logout", function() {
                $("#user").html('');
                $(".unauthenticated").show();
                $(".authenticated").hide();
                window.location = '/';
            });
            return true;
        };
        var goToHome = function() {
            window.location = '/';
        };
    </script>
</head>

<body>
<div>
    <button onclick="goToHome()" class="btn btn-info">IONKiD</button>   <a href="/programslist">PROGRAMS</a><br><br>
    <button onClick="logout()" class="btn btn-primary">Logout</button>
    <br>
    <b>Users List</b><br>
    {{#users}}
        <div>
            <img src="{{avatarUrl}}" alt="avatar"><br>
            <b>ID: {{id}}</b>
            <p>Name:{{#firstName}} {{firstName}} {{/firstName}} {{^firstName}} NA {{/firstName}} {{#lastName}} {{lastName}} {{/lastName}} {{^lastName}} NA {{/lastName}}</p>
            <p>EMAIL:{{#email}} {{email}} {{/email}}     {{^email}} NA {{/email}}</p>
            <p>ROLES: {{roles}}</p>
            <p>LAST VISIT: {{#lastVisit}} {{lastVisit}} {{/lastVisit}}     {{^lastVisit}} NA {{/lastVisit}}</p>

        </div>
    {{/users}}
    <br>

</div>
</body>

</html>